body{
    background-color: green;
}

#table-div {
    border: 1px solid red;
    height:200px;
    /* width: 100%; */
}
.table-ul {
    border:1px solid black;
    list-style:none;
    padding-left: 0;
    display:flex;
}
.table-li{
    border:1px solid pink;
    width:calc(100% / 10 - 2px);
    height:60px;
}
