body{
    background-color:#F8F8F8;
}
#table-number {
    border: 2px solid yellowgreen;
    width:200px;
    height:100px;
}
#table-number-menu{
    display: flex;
    height: 24vh;
    align-items: center;
    /* border: 1px solid brown; */
    justify-content: space-evenly;
}

#table-div {
    border: 1px solid red;
    /* width: 100%; */
}
.table-heading{
    text-align: center;
}
.table-ul {
    /* border:1px solid black; */
    list-style:none;
    padding-left: 0;
    display:flex;
    justify-content: center;
}
.table-li{
    border:1px solid pink;
    width:calc(80% / 10 - 2px);
    height:5vh;
    display:flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.product{
    font-size : 1.5em;
    font-weight : bold;
}

.number-dot-btn-container{
    width : 100%;
    height : 100%;
    display:flex;
    justify-content: center;
}

/* .lot-times-number{
    text-align: center;
  } */

  .lot-times-number h3{
      margin: .5em;
  }  

  #home-btn {
      width : 150px;
      height : 40px;
      float : left;
  }

  #check-result-btn{
      width : 150px;
      height : 40px;
      float : right;
  }